.app-layout {
  display: flex;
  min-height: 100dvh;
  align-items: stretch;
}
.linkcolor, h1{
  color: darkcyan;
}


.app-layout_content {
  flex: auto;
  padding: 2rem;
  @media (min-width: 1024px) {
    padding: 3.5rem;
  }
  @media (min-width: 1280px) {
    padding: 6rem;
  }
}

/*contact*/
.contact-img{
  width:32rem;
  height:auto;
}

.linkbtn{
  background-color: darkcyan;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  border: 2px solid darkcyan;
  text-decoration: none;
}

.linkbtn:hover{
  border: 2px solid darkcyan;
  color: darkcyan;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  text-decoration: none;
  background-color: transparent;
}

img{
  max-height: 30rem;
}
